<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
	<sql id="prdCondition">
		<where>
			<if test="categoryNumber != null">
				<choose>
					<when test="categoryNumber == 121">
                     	<![CDATA[
                        pdt_adddate >= '2018-05-01' 
                        AND pdt_adddate < '2018-09-01'
                        ]]>
					</when>
					<when test="categoryNumber == 120">
						pdt_sales_count >= 300
					</when>
					<when test="categoryNumber == 44">
						<!-- 전체 상품의 경우 아무 조건 없음 -->
					</when>
					<when test="categoryNumber == 671">
						pdt_discount_rate >= 30
					</when>
					<when test="categoryNumber == 160">
						cat_id = 1
					</when>
					<when test="categoryNumber == 161">
						cat_id = 2
					</when>
					<when test="categoryNumber == 49">
						cat_id = 3
					</when>
					<when test="categoryNumber == 436">
						cat_id = 1 AND scat_id = 2
					</when>
					<when test="categoryNumber == 435">
						cat_id = 1 AND scat_id = 1
					</when>
					<when test="categoryNumber == 432">
						pdt_sales_count >= 300 AND scat_id = 2
					</when>
					<when test="categoryNumber == 431">
						pdt_sales_count >= 300 AND scat_id = 1
					</when>
					<when test="categoryNumber == 125">
						pdt_sales_count >= 300 AND cat_id = 1
					</when>
					<when test="categoryNumber == 127">
						pdt_sales_count >= 300 AND cat_id = 2
					</when>
					<when test="categoryNumber == 540">
						pdt_sales_count >= 300 AND cat_id = 3
					</when>
					<when test="categoryNumber == 238">
						pdt_discount_rate >= 50
					</when>
				</choose>
			</if>
		</where>
	</sql>

	<select id="selectProducts" parameterType="map"
		resultType="Product">
		SELECT *
		FROM o_product
		<include refid="prdCondition" />
	</select>
</mapper>