<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ohora.sl.repository.product.ProductMapper">
	<!-- 상품 기준에 따른 SQL 쿼리 처리 -->
	<sql id="prdCondition">
		<where>
			<if test="categoryNumber != null">
				<choose>
					<when test="categoryNumber == 121">
                     	<![CDATA[
                        pdtAdddate >= '2018-05-01' 
                        AND pdtAdddate < '2018-09-01'
                        ]]>
					</when>
					<when test="categoryNumber == 120">
						pdtSalesCount >= 300
					</when>
					<when test="categoryNumber == 44">
						1 = 1
					</when>
					<when test="categoryNumber == 671">
						pdtDiscountRate >= 30
					</when>
					<when test="categoryNumber == 160">
						catId = 1
					</when>
					<when test="categoryNumber == 161">
						catId = 2
					</when>
					<when test="categoryNumber == 49">
						catId = 3
					</when>
					<when test="categoryNumber == 436">
						catId = 1 AND scatId = 2
					</when>
					<when test="categoryNumber == 435">
						catId = 1 AND scatId = 1
					</when>
					<when test="categoryNumber == 432">
						pdtSalesCount >= 300 AND scatId = 2
					</when>
					<when test="categoryNumber == 431">
						pdtSalesCount >= 300 AND scatId = 1
					</when>
					<when test="categoryNumber == 125">
						pdtSalesCount >= 300 AND catId = 1
					</when>
					<when test="categoryNumber == 127">
						pdtSalesCount >= 300 AND catId = 2
					</when>
					<when test="categoryNumber == 540">
						pdtSalesCount >= 300 AND catId = 3
					</when>
					<when test="categoryNumber == 238">
						pdtDiscountRate >= 50
					</when>
				</choose>
			</if>
		</where>
	</sql>

	<!-- public ArrayList<ProductDTO> selectProductsByCateNo( Criteria criteria 
		); // cate_no 에 따른 상품 ( new , best , all , outlet ) -->
	<select id="selectProductsByCateNo"
		resultType="kr.ohora.sl.domain.ProductDTO">
		SELECT *
		FROM (
		SELECT
		rownum AS rn,
		pdtId,
		catId,
		scatId,
		pdtNumber,
		pdtName,
		pdtAmount,
		pdtDiscountRate,
		pdtImgUrl,
		pdtCount,
		pdtReviewCount,
		pdtSalesCount,
		pdtAdddate,
		pdtViewcount,
		CASE
		WHEN pdtDiscountRate != 0 THEN pdtAmount - CAST(pdtAmount *
		pdtDiscountRate / 100 AS INT)
		ELSE pdtAmount
		END AS pdtDiscountAmount
		FROM (
		SELECT *
		FROM OPRODUCT
		<include refid="prdCondition" />
	            <![CDATA[
	            ORDER BY pdtid ASC
	        ) a
	        WHERE rownum <= #{currentPage} * #{numberPerPage}
	    ) b
	    WHERE rn > (#{currentPage} - 1) * #{numberPerPage}
	    ]]>
	</select>

	<!-- public Integer selectTotalRecords( Criteria criteria ); -->
	<select id="selectTotalRecords" resultType="Integer">
		SELECT COUNT(*) FROM OPRODUCT
		<include refid="prdCondition" />
	</select>


	<!-- public void productViewUpdate(); // 상품 클릭시 조회수 +1 -->
	<update id="productViewUpdate">
		UPDATE OPRODUCT
		SET pdtViewcount = pdtViewcount + 1
		WHERE pdtId = #{pdtId}
	</update>

	<!-- public ProductDTO selectProductDetail(Criteria criteria); -->
	<select id="selectProductDetail" resultType="kr.ohora.sl.domain.ProductDTO">
		SELECT pdtId,
		catId,
		scatId,
		pdtNumber,
		pdtName,
		pdtAmount,
		pdtDiscountRate,
		pdtImgUrl,
		pdtCount,
		pdtReviewCount,
		pdtSalesCount,
		pdtAdddate,
		pdtViewcount,
		CASE
		WHEN pdtDiscountRate != 0 THEN pdtAmount - CAST(pdtAmount *
		pdtDiscountRate / 100 AS INT)
		ELSE pdtAmount
		END AS pdtDiscountAmount
		FROM OPRODUCT
		WHERE pdtId = #{pdtId}
	</select>

	<!-- public ArrayList<ProductOptionDTO> selectProductOptionCmb(Criteria 
		criteria); -->
	<select id="selectProductOptionCmb"
		resultType="kr.ohora.sl.domain.ProductDTO">
		SELECT o.optName
		FROM oProduct p
		JOIN oPdtoption o ON p.pdtId = o.pdtId
		WHERE p.scatId IS NOT NULL
		AND o.pdtId = #{pdtId}
	</select>

	<!-- public ArrayList<ProductDTO> selectProductOption(Criteria criteria); -->
	<select id="selectProductOption" resultType="kr.ohora.sl.domain.ProductDTO">
		SELECT pdtId,
		catId,
		scatId,
		pdtNumber,
		pdtName,
		pdtAmount,
		pdtDiscountRate,
		pdtImgUrl,
		pdtCount,
		pdtReviewCount,
		pdtSalesCount,
		pdtAdddate,
		pdtViewcount,
		CASE
		WHEN pdtDiscountRate != 0 THEN pdtAmount - CAST(pdtAmount *
		pdtDiscountRate / 100 AS INT)
		ELSE pdtAmount
		END AS pdtDiscountAmount,
		pdtDescription
		FROM oproduct
		<where>
			<choose>
				<when test="catId == 1">
					pdtId BETWEEN 172 AND 175
				</when>
				<when test="catId == 2">
					pdtId BETWEEN 169 AND 171
				</when>
			</choose>
		</where>
	</select>

	<!-- public ArrayList<ProductDTO> selectProductsBySearch( Criteria criteria ); -->
	<select id="selectProductsBySearch"	resultType="kr.ohora.sl.domain.ProductDTO">
		SELECT		pdtId,
					catId,
					scatId,
					pdtNumber,
					pdtName,
					pdtAmount,
					pdtDiscountRate,
					pdtImgUrl,
					pdtCount,
					pdtReviewCount,
					pdtSalesCount,
					pdtAdddate,
					pdtViewcount,
					CASE
					WHEN pdtDiscountRate != 0 THEN pdtAmount - CAST(pdtAmount *
					pdtDiscountRate / 100 AS INT)
					ELSE pdtAmount
					END AS pdtDiscountAmount
					FROM OPRODUCT
		WHERE REGEXP_LIKE(pdtName, #{keyword}, 'i')
	</select>
	
	<!-- public Integer selectTotalRecordsBySearch( Criteria criteria , String keyword ); -->
	<select id="selectTotalRecordsBySearch" resultType="Integer">
		SELECT COUNT(*)
		FROM OPRODUCT
		WHERE REGEXP_LIKE(pdtName, #{keyword}, 'i')
	</select>
</mapper>